<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false">
    <testsuites>
        <testsuite name="AppTest">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"
             target="./data/logs/report"
             lowUpperBound="50"
             highLowerBound="80"/>
        <log type="testdox-html"
             target="./data/logs/testdox.html"/>
    </logging>

    <php>
        <env name="DEV_MODE" value="1" />
        <env name="DEMO_EMAIL" value="demo@example.com" />
        <env name="TEST_IDENTIFIER" value="some-identifier-value" />
    </php>
</phpunit>
